          <div class="row" style="padding-top: 20px">
            <div class="col-md-1" style="padding: 10px">
                <span>
                    <button type="button" class="btn btn-default btn-sm" aria-label="Left Align" ng-click="refresh_history()" ng-disabled="loading">
                        <i class="fa fa-cog fa-refresh"></i> Refresh
                    </button>
                </span>
            </div>
            <div class="col-md-3" style="padding: 5px">
            </div>

             <div class="col-md-offset-5 col-md-3">
                <div class="input-group input-group-sm">
                  <input type="text" ng-model="historysearch" placeholder="Enter search string..." class="form-control" ng-readonly="locked || loading">
                  <span class="input-group-addon">
                  <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                </div><!-- /input-group -->

                 <div ng-show="loadingUsers"><img src="images/loading.gif" width="24" height="24"> Searching...</div>
                 <div ng-show="noUsers"><i class="glyphicon glyphicon-remove"></i> No Users Found </div>

              </div>
           </div>

           <div class="row" ng-hide="history.length || loading">
                <div style="width: 400px" class="center-block"><i>No History</i></div>
           </div>
 
           <div class="row table-responsive" ng-show="history.length" infinite-scroll='pager()' infinite-scroll-distance='0' infinite-scroll-disabled="loading">

            <table class="table projects-table content-list table-striped table-hover history" data-click-to-select="true">
              <thead>
                <tr>
                  <th>Type</th>
                  <th>Date</th>
                  <th>User</th>
                  <th>Details</th>
                </tr>
            </thead>
            <tbody>
              <tr ng-repeat="h in history | filter: historysearch" >
                <td style="width: 30px">
                    <span uib-tooltip="{{h.type}}"><i ng-class="getHistoryClass(h.type)"></i></span>
                </td>
                <td style="width: 100px">{{h.date}}</td>
                <td style="width: 80px">{{h.user}}</td>
                <td>{{h.details}}</td>
              </tr>
            </table>
            </div>
            <div class="col-md-6-offset col-md-6" ng-show="loading"><img class="pull-right" src="images/spinner.gif" alt="Loading..."></div>
