<div class="modal-header">
    <h3 class="modal-title">
        <img src="images/spark-connect.png" width="24" height="24"> Register Users
    </h3>
</div>

<div class="modal-body">
    <uib-tabset>
        <uib-tab heading="Users" active="tabs[1].active">
            <div class="row">

                <div class="col-md-12">
                    <div class="row">
                        <form class="form-horizontal">
                            <div class="form-group" ng-class="creating && newUser != '' ? 'has-error' : ''">
                                <label for="users" class="col-sm-3  control-label">Search Users:</label>
                                <div class="col-sm-6">
                                    <input type="text" ng-model="usr" placeholder="Type the name of a user" uib-typeahead="usr as usr.id + ' - ' + usr.name for usr in searchUsers($viewValue)" typeahead-loading="loadingUsers" typeahead-no-results="noUsers" class="form-control" typeahead-on-select="addUser(usr); usr=''" typeahead-editable="false" typeahead-min-length="3" typeahead-wait-ms="100" ng-readonly="locked">
                                    <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
                                    <div ng-show="noUsers"><i class="glyphicon glyphicon-remove"></i> No Results Found </div>
                                </div>
                            </div>

                        </form>
                    </div>

                    <div class="row">
                      <form>
                        <div class="form-group" style="padding: 0px; margin: 0px">
                            <label for="usersSelected" class="control-label"></label>
                            <div>
                                <ul>
                                    <li style="list-style: none" ng-show="newUser">
                                        <span ng-hide="loading"><button class="btn btn-link btn-sm" ng-click="removeUser(user)"><span class="glyphicon glyphicon-remove text-danger"></span></button></span>
                                        <span ng-show="loading"><img src="../images/loading.gif"></span>
                                        <span><strong>{{newUser.id}} - {{newUser.name}}</strong></span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                      </form>
                   </div>
                </div>
            </div>
        </uib-tab>

     </uib-tabset>
</div>

<div class="modal-footer">
    <button class="btn btn-link btn-sm" type="button" ng-disabled="loading" ng-class="loading ? 'disabled' : ''" ng-click="cancel()">Cancel</button> | 
    <button class="btn" type="button" ng-click="registerUsers()" ng-class="loading || !newUser ? 'disabled' : 'btn-success'" ng-disabled="loading || !newUser"><span class="fa fa-check "></span> Add Users </button>
</div>
